
</div>
<div class="footer-padding"></div>
<div class="footer">
 <p>Made with ❤️ by Kunal Thite</p>
 </div>
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
 
  </body>
 </html>