<!DOCTYPE html>
<html language="en" dir="ltr">
<head> 

<meta charset="utf-8">
<title>Daily Journal</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 
<link rel="stylesheet" href="css/style.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">

<nav class="navbar navbar-light bg-light">
<p class="navbar-brand">Daily Journal</p>
</nav>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class= "nav justify-content-end">

<li class="nav-item active" id="home"><a class="nav-link" href="/">HOME</a></li>
<li  class="nav-item active" id="about"><a class="nav-link" href="/about">ABOUT US</a></li>
<li class="nav-item active" id="contact"><a class="nav-link" href="/contact">CONTACT US</a></li>
</ul>
</div>

</nav>

<body>
<div class="container">
