
<%- include("partials/header"); -%>

<h1><%= title %></h1>
<p><%= content %></p>

</div>
<div class="footer-padding"></div>
<div class="footer">

 </div>
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

  </body>
 </html>
